<div  ng-controller="Controller5">
<form name = "studentForm" novalidate>

            <table border = "0">
               <tr>
                  <td> Enter First Name:</td>
                  <td><input name = "firstName" type = "text" ng-model = "firstName" required>
                        <span style = "color:blue" ng-show = "studentForm.firstName.$error.required">Enter first name </span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td> Enter Last name: </td>
                  <td><input name = "lastName"  type = "text" ng-model = "lastName" required>
                        <span style = "color:blue" ng-show = "studentForm.lastName.$error.required">Enter Last Name</span>
                     </span>
                  </td>
               </tr>
               
                <tr>
                  <td> Enter EmailID: </td>
                  <td>
                      <input name = "email" type = "email" ng-model = "email" length = "100" required>
                      <span style = "color:blue" ng-show = "studentForm.email.$error.required">Enter Email ID</span>
                      <span style = "color:red" ng-show = "studentForm.email.$error.email">Invalid email address.</span>
                     
                   </td>
               </tr>
               
              <tr>
                  <td> Enter Phone no: </td>
                  <td>
                     <input name = "phone" data-phone type = "phone" ng-model = "phone" Maxlength = "10" required>
                     <span style = "color:blue" ng-show = "studentForm.phone.$error.required">Enter Phone No.</span>
                     <span style = "color:red" ng-show = "studentForm.phone.$error.pattern">Invalid Phone No.</span>
                    
                </td>
             </tr>

              <tr>
               <td>Gender: </td>
               <td> <select name="" id="" ng-model="gender">
                              <option value="Female">Female</option>
                              <option value="Male">Male</option>
                  </select>
                </td>
            </tr>

            <tr>
               <td>Location: </td>
               <td> <select name="" id="" ng-model="location">
                              <option value="Delhi">Delhi</option>
                              <option value="Mumbai">Mumbai</option>
                              <option value="Pune">Pune</option>
                              <option value="Hydrabada">Hydrabada</option>
                              
                  </select>
                </td>
            </tr>

             <tr>
               
                 
                <td>
      <button ng-disabled="studentForm.firstName.$dirty && studentForm.firstName.$invalid || 
            studentForm.lastName.$dirty && studentForm.lastName.$invalid ||
            studentForm.email.$dirty && studentForm.email.$invalid || 
            studentForm.phone.$dirty && studentForm.phone.$invalid" 
            ng-click="save()" >Save</button>
    </td>
    
     <td>
                   <button ng-click = "reset()">Reset</button>
                </td>
            </tr>
     
      </table>
      </form>
      <div ng-show="showMe">
                        <div>First Name :{{firstName}}</div><br>
                         <div>Last Name :{{lastName}}</div><br>
                        <div>Email Id :{{email}}</div><br>
                        <div>Phone no :{{phone}}</div><br>
                        <div>Gender :{{gender}}</div><br>
                        <div>Location :{{location}}</div> 
                        </div>  
      </div>
